@import '_colors';
@import '_responsive';
@import '_activity-card';
@import '_user-card';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
//font-family: 'Rubik', sans-serif;
//font-size: 1.125rem; (card titles)

//https://www.w3schools.com/sass/default.php
//https://www.youtube.com/watch?v=nu5mdN2JIwM
//https://www.youtube.com/watch?v=g1kF45K-q7o
//http://getbem.com/naming/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: $Very-dark-blue;
	font-family: 'Rubik', sans-serif;
	font-size: 1.125rem;
}
.dashboard {
	max-width: 23.5rem;
	margin: 50px auto;
	display: grid;
	gap: 1.5rem;
	padding: 0 27.5px;

	/* 	@include mq($medium) {
		grid-template-columns: 20rem 41.5rem;
	} */
}
.rounded-top {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.rounded-bottom {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.activities-section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
